<!-- templates/fourth_task/menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagename %}Default Title{% endblock %}</title>
</head>
<body>
    <nav>
        {% block menu %}
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/shop/">Магазин</a></li>
            <li><a href="/cart/">Корзина</a></li>
        </ul>
        {% endblock %}
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
